<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
          background-image: url('https://static.vecteezy.com/system/resources/previews/002/091/677/original/abstract-white-texture-background-design-3d-paper-for-book-poster-flyer-cover-website-advertising-illustration-vector.jpg');
        }
        </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <title>Edit</title>
</head>
<body>
    <form action = "{% url 'superheroes:edit' updated_hero.id %}" method="POST">
        
        {% csrf_token %}
        <table width = 75%>
        <br>
            <tr>
            <td style="width: 20%"><h4>Name : <input type = 'text' name ='name' id="name"  value ="{{updated_hero.name}}"></td></h4><br>
            <td style="width: 20%"><h4> Ego : <input type = 'text' name ='alter_ego' id="alter_ego" value ="{{updated_hero.alter_ego}}"><br></td></h4>
            <td style="width: 20%"><h4>Primary Ability : <input type = 'text' name ='primary_ability' id="primary_ability"  value ="{{updated_hero.primary_ability}}"><br></td></h4>
            <td style="width: 20%"><h4>Secondary Ability : <input type = 'text' name ='secondary_ability' id="secondary_ability"  value ="{{updated_hero.secondary_ability}}"><br></td></h4>
            <td style="width: 20%"><h4>Catchphrase : <input type = 'text' name ='catch_phrase' id="catch_phrase"  value ="{{updated_hero.catch_phrase}}"><br></td></h4>
            </tr>
        
        </table>
        <input type="submit" value="Update!">
    </form>
    <form action="{% url 'superheroes:index'%}">
        <input type="submit" value="Return to Home">
    </form>
</body>
</html>